{% extends "/home/marwa254/Desktop/DELIGHT/mysite/delight_Cakehouse/templates/base.html" %}

<!-- loading crispy for style -->
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Welcome To Mochada Bakers.</legend>

                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'Log In' %}">Log In</a>
            </small>
        </div>
    </div>
{% endblock content %}
